/**
 * The default transition, used when the element is visible
 * since the beginning of the animation
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$co-transition-default-timing: cubic-bezier(.4, 0, .2, 1);
$co-transition-default-duration: .4s;
$co-transition-default: $co-transition-default-duration $co-transition-default-timing;


/**
 * The enter transition, used when the element is not visible on the screen
 * since the beginning of the animation and become visible
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$co-transition-enter-timing: cubic-bezier(0, 0, .2, 1);
$co-transition-enter-duration: .4s;
$co-transition-enter: $co-transition-enter-duration $co-transition-enter-timing;


/**
 * The leave transition, used when the element is visible on the screen
 * since the beginning of the animation and is removed
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$co-transition-leave-timing: cubic-bezier(.4, .0, 1, 1);
$co-transition-leave-duration: .4s;
$co-transition-leave: $co-transition-leave-duration $co-transition-leave-timing;


/**
 * The stand transition, used when the element is going to accelerate,
 * like movements from bottom to top
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$co-transition-stand-timing: cubic-bezier(.25, .8, .25, 1);
$co-transition-stand-duration: .4s;
$co-transition-stand: $co-transition-stand-duration $co-transition-stand-timing;


/**
 * The out transition, used when the element is going to deaccelerate,
 * like movements from top to bottom
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$co-transition-drop-timing: cubic-bezier(.55, 0, .55, .2);
$co-transition-drop-duration: .4s;
$co-transition-drop: $co-transition-drop-duration $co-transition-drop-timing;
