// ------------------------------------------------------------ \\
// --------------------- VUE-CONSTRUCTIVE --------------------- \\
// -------------------------- MIXINS -------------------------- \\
// ------------------------------------------------------------ \\

// Shadows Mixin
@mixin shadow($e) {
  @if $e == 0 { box-shadow: none; }
  @if $e == 1 { box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.06); }
  @if $e == 2 { box-shadow: 0 3px 6px rgba(0,0,0,0.09), 0 3px 6px rgba(0,0,0,0.06); }
  @if $e == 3 { box-shadow: 0 6px 6px rgba(0,0,0,0.06), 0 10px 20px rgba(0,0,0,0.06); }
  @if $e == 4 { box-shadow: 0 10px 10px rgba(0,0,0,0.08), 0 14px 28px rgba(0,0,0,0.05); }
  @if $e == 5 { box-shadow: 0 12px 15px rgba(0,0,0,0.06), 0 19px 38px rgba(0,0,0,0.1); }
}

// Breakpoints Mixin
@mixin breakpoint($p) {

}

// Typography Mixin
@mixin typography($t) {
  line-height: 1.5;
  margin: 8px 0;
  @if $t == 'h1' { font-size: 48px; }
  @if $t == 'h2' { font-size: 38px; }
  @if $t == 'h3' { font-size: 30px; }
  @if $t == 'h4' { font-size: 24px; }
  @if $t == 'h5' { font-size: 20px; }
  @if $t == 'h6' {
    font-size: 14px;
    text-transform: uppercase;
  }
  @if $t == 'body' { font-size: 14px; }
}

// Z-Index Mixin
@mixin z-index($z) {

}

// User Selection
@mixin select($s) {
  @if $s == 'auto' { user-select: auto; }
  @if $s == 'none' { user-select: none; }
  @if $s == 'text' { user-select: text; }
  @if $s == 'all' { user-select: all; }
}
