// COLORS
// Monochrome
$col-black: #171A1C;
$col-darkgray: #22272A;
$col-midgray: #73828C;
$col-lightgray: #EFF3F5;
$col-white: #FFFFFF;

// Accent
$col-blue: #0185FF;
$col-green: #00C875;
$col-yellow: #D5CC00;
$col-orange: #FDAB3D;
$col-red: #FF6969;
$col-purple: #9905FF;
$col-pink: #FA47A8;


// SPACING
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;
$space-xxl: 128px;
